.cardpad {
  background-color: red;
  box-sizing: border-box;
  height: 75vh;
  min-height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardpadHead {
  background-color: blue;
  height: 40px;
}

.card {
  width: 85%;
  height: 20vh;
  min-height: 180px;
  margin: 5px auto;
}

.pagination {
  margin: 10px auto;
  width: 40%;
}

.close {
  color: red;
  width: 16px;
}

.close:hover {
  cursor: pointer;
}

.favourite {
  color: gold;
}

.favourite:hover {
  cursor: pointer;
}
