.cardpad {
  box-sizing: border-box;
  height: 75vh;
  min-height: 635px;
  min-width: 440px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardpadHead {
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 32px;
}

.csdnHead {
  composes: cardpadHead;
  background-image: url("../../assets/csdn-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #c92027;
  color: #f7f7f7;
}

.jobboleHead {
  composes: cardpadHead;
  background-image: url("../../assets/jobbole-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #5c9fdf;
  color: #f7f7f7;
}

.segmentfaultHead {
  composes: cardpadHead;
  background-image: url("../../assets/segmentfault-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #009a61;
  color: #f7f7f7;
}

.card {
  width: 85%;
  height: 20vh;
  min-height: 170px;
  margin: 5px auto;
}

.virtualCard {
  composes: card;
  background-color: #fff;
  padding: 12px 24px 8px;
}

.cardTitle {
  color: #000c17;
}

.cardInfo {
  font-size: 12px;
  line-height: 14px;
}

.cardSetting {
  color: #aaaaaa;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

.cardIcon {
  display: inline-block;
  margin: 0 6px;
  font-size: 18px;
  cursor: pointer;
}

.cardSettingSwitch:hover {
  cursor: pointer;
}

.cardSettingSwitch:hover .cardBtns {
  display: block;
}

.cardBtns {
  padding-top: 6px;
  display: none;
}

.cardLike {
  composes: cardIcon;
}

.cardLike:hover {
  color: gold;
}

.cardDelete {
  composes: cardIcon;
}

.cardDelete:hover {
  color: red;
}

.pagination {
  margin: 10px auto;
  width: 40%;
}

.extra {
  height: 100%;
  width: 20px;
}

.extra:hover .close {
  display: block;
}

.author {
  color: #0088cc;
}

.label {
  background-color: #C5C7C9;
  border-color: #83888B;
  color: #fff;
}

.summary {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.5;
  height: 36px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
