#searchBar {
  background-color: pink;
  min-width: 260px;
}

.item {
  font-size: 12px;
  text-align: center;
}

.languageSelect {
  margin-left: 8px;
  display: inline-block;
}

.lightBtn {
  margin-left: 8px;
}

.questionIcon {
  color: #0088cc;
  font-size: 14px;
  margin-left: 8px;
}
