#iconBar {
  height: 100%;
  display: inline-block;
  padding: 12px 0;
  font-size: 22px;
  background-color: darkkhaki;
}

#logo {
  height: 100%;
  width: 40px;
  display: inline-block;
  margin: 0 20px;
  background: url("../../assets/rss.gif") no-repeat;
  background-size: contain;
}

#icons {
  width: 200px;
  height: 100%;
  line-height: 24px;
  font-size: 24px;
  color: #08c;
  background-color: purple;
  display: inline-block;
  margin: 0 20px;
}
