#iconBar {
  height: 100%;
  font-size: 24px;
  background-color: darkkhaki;
}

#logo {
  height: 48px;
  background: url("../../assets/rss.gif") no-repeat;
  background-size: contain;
}

#user {
  height: 100%;
  line-height: 24px;
  color: #08c;
  text-align: center;
  padding-top: 10px;
}

#icons {
  color: #08c;
}

.icon:hover {
  color: #fff;
  cursor: pointer;
}
