#content {
  display: flex;
  align-items: center;
  position: relative;
}

#ctBg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#main {
  width: 80vw;
  margin: auto;
}
