#content {
  display: flex;
  align-items: center;
  position: relative;
  height: 86vh;
}

#ctBg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#main {
  min-width: 1135px;
  width: 80vw;
  margin: auto;
}
