#barCt {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
}

.item {
  font-size: 12px;
  text-align: center;
  max-width: 96px;
}

.languageSelect {
  margin-left: 8px;
  display: inline-block;
}

.switch {
  margin-left: 8px;
}
